/* Global Styling */

:root {
    --primary: #335eea;
    --secondary: rgba(51, 94, 234, 0.1);
    --info: #d9e2ef;
    --success: #42ba96;
    --text-primary: black;
    --text-seconday: #869ab8;
    --text-opposite: white;
    --shadow: rgba(0, 0, 0, 0.1);
}

.dark {
    --primary: #335eea;
    --secondary: rgba(51, 94, 234, 0.1);
    --info: #d9e2ef;
    --success: #42ba96;
    --text-primary: white;
    --text-seconday: #869ab8;
    --text-opposite: #1b2a4e;
    --shadow: rgba(255, 255, 255, 0.1);
}

::selection {
    background-color: var(--primary);
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
    background: #1746e0;
}

* {
    font-family: 'hk_groteskregular';
    box-sizing: border-box;
    transition: color 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), background-color 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), border-color 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), fill 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), cx 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), box-shadow 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    max-width: 100%;
    background-color: var(--text-opposite);
}

.max {
    max-width: 1000px;
}

.button {
    border: none;
    font-size: 1.1rem;
    color: white;
    transition: all 0.2s;
    border-radius: 7px;
    font-family: 'hk_groteskmedium_legacy';
}

.button i {
    color: white;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 20px 0px var(--shadow);
}

.button-primary {
    background-color: var(--primary);
}

.button-primary:hover {
    background-color: #1746e0;
}

.button-secondary {
    background-color: var(--secondary);
    color: var(--primary);
}

.dark .button-secondary {
    color: #5d7fee;
}

.button-secondary:hover {
    background-color: rgba(51, 94, 234, 0.2);
}

.button-success {
    background-color: var(--success);
}

.button-success:hover {
    background-color: #389e7f;
}

.button-info {
    background-color: var(--info);
    color: var(--text-seconday);
}

.dark .button-info {
    background-color: var(--text-seconday);
    color: var(--info);
}

.pill {
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 30px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-family: 'hk_groteskmedium_legacy';
    text-transform: uppercase;
    width: fit-content;
}

.dark .pill {
    color: #5d7fee;
}

/* --- WILL BE EDITED --- */

/* --- WILL BE EDITED --- */

/* Navigation Bar */

#navbar * {
    font-family: 'hk_groteskmedium_legacy';
}

#navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: var(--text-opposite);
    box-shadow: 0 0 10px var(--shadow);
}

#navbar .max {
    height: 85px;
}

#navbar #dark {
    cursor: pointer;
}

#navbar #dark-border {
    transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#navbar .dark-enabled {
    fill: var(--text-opposite);
}

#navbar button {
    outline: none;
}

#navbar a {
    color: var(--text-primary);
    text-decoration: none;
}

#navbar a:hover {
    color: var(--primary);
}

#navbar h6 {
    text-transform: uppercase;
    color: var(--primary);
    font-size: 0.78rem;
    text-align: left;
    font-weight: bold;
}

#navbar .dropdowns {
    flex: 1;
    height: 35px;
}

#navbar .my-dropdown {
    position: relative;
    margin: 0 1.5rem;
}

#navbar .my-dropdown>a {
    font-size: 1.1rem;
}

#navbar .my-dropdown>a {
    display: inline-block;
    height: 100%;
}

#navbar .my-dropdown-menu {
    position: absolute;
    left: 50%;
    width: max-content;
    transform: translate(-50%);
    box-shadow: 0 5px 30px var(--shadow);
    padding: 1.75rem;
    display: none;
    background-color: var(--text-opposite);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

#navbar .my-dropdown-menu a {
    color: var(--text-seconday);
    margin-bottom: 0.5rem;
}

#navbar .my-dropdown-menu a:hover {
    color: var(--primary);
}

#navbar .my-dropdown-menu a:last-of-type {
    margin-bottom: 0;
}

#navbar .my-dropdown:hover .my-dropdown-menu {
    display: flex;
    animation: show 0.2s;
}

#navbar .my-dropdown-menu:hover {
    display: flex;
}

#navbar .dropdown-account .my-dropdown-menu {
    flex-direction: column;
    align-items: flex-start;
}

#navbar .dropdown-pages .my-dropdown-menu .row {
    width: 550px;
}

#navbar .dropdown-pages .my-dropdown-menu .col-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: max-content;
}

#navbar .dropdown-documentation h6 {
    margin: 0;
}

#navbar .dropdown-documentation svg {
    width: 36px;
    height: 36px;
    margin-right: 1rem;
}

#navbar .dropdown-documentation .pill {
    align-self: center;
}

#navbar .dropdown-documentation .flex-column a:hover {
    color: var(--text-seconday);
}

#navbar .dropdown-documentation .flex-column>div {
    cursor: pointer;
}

#navbar .dropdown-documentation .flex-column>div:nth-child(2) {
    border-top: solid 1px rgba(134, 154, 184, 0.1);
    border-bottom: solid 1px rgba(134, 154, 184, 0.1);
}

#navbar .dropdown-landings>div {
    padding: 0;
}

#navbar .dropdown-landings .cell {
    width: 50%;
    padding: 1.75rem;
}

#navbar .dropdown-landings button {
    color: var(--primary);
    background-color: white;
}

#navbar .dropdown-landings .cell:nth-child(1) {
    background-image: url(../pics/landings.jpg);
    color: white;
    position: relative;
    z-index: 0;
}

#navbar .dropdown-landings .cell:nth-child(1)::before {
    content: "";
    background-color: rgba(51, 94, 234, 0.75);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

#navbar .dropdown-landings .col-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: max-content;
}

#navbar .dropdown-landings .my-dropdown-menu>.d-flex {
    width: 650px;
}

/* Header */

#header {
    padding-top: 100px;
}

#header h1 {
    font-size: 3rem;
    color: var(--text-primary);
}

#header img {
    max-width: 150%;
}

#header span {
    color: var(--primary);
}

#header p {
    color: var(--text-seconday);
    font-size: 1.1rem;
}

#header h1+p {
    font-size: 1.3rem;
}

#header button {
    outline: none;
}

#header svg {
    width: 48px;
    height: 48px;
}

#header h4 {
    font-size: 1.3rem;
    color: var(--text-primary);
}

/* Companies */

#companies svg {
    color: var(--text-seconday);
}

#companies {
    border-top: solid 1px rgba(134, 154, 184, 0.1);
    border-bottom: solid 1px rgba(134, 154, 184, 0.1);
}

/* Form */

#form .card {
    background-color: var(--text-opposite);
    border: none;
    box-shadow: 0 5px 30px 0px var(--shadow);
    transition: box-shadow 0.2s, transform 0.2s, background-color 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    border-radius: 7px;
    overflow: auto;
}

#form .card:hover {
    box-shadow: 0 5px 50px 5px var(--shadow);
    transform: translateY(-5px);
}

#form .card img {
    clip-path: ellipse(150% 100% at 50% 0%);
}

#form .card-body {
    padding: 30px;
}

#form .button {
    outline: none;
}

#form input {
    border: none;
    margin-bottom: 1.5rem;
    border-bottom: solid 1px rgba(134, 154, 184, 0.1);
    padding: 15px 0;
    outline: none;
    transition: border-bottom 0.3s, background-color 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    background-color: var(--text-opposite);
}

#form input::placeholder {
    color: var(--text-seconday);
    opacity: 1;
    font-size: 1.1rem;
}

#form input:focus {
    border-bottom: 1px solid rgba(51, 94, 234, 0.5);
}

#form h3 {
    font-size: 2rem;
    color: var(--text-primary);
}

#form h3 span {
    color: var(--success);
}

#form p {
    color: var(--text-seconday);
    font-size: 1.2rem;
}

#form .tics {
    color: var(--success);
    font-size: 1.2rem;
}

#form .tics span {
    background-color: rgba(66, 186, 150, .1);
    border-radius: 50%;
    padding: 5px 5px;
}

#form i {
    color: var(--success);
}

#form .blink {
    animation: blink 0.5s ease-in-out infinite;
}

/* Bootstrap */

#bootstrap svg {
    width: 48px;
    height: 48px;
}

#bootstrap h3 {
    font-size: 2rem;
    color: var(--text-primary);
}

#bootstrap h3 span {
    color: var(--primary);
}

#bootstrap h3+p {
    font-size: 1.2rem;
    color: var(--text-seconday);
}

#bootstrap h5 {
    font-size: 1.2rem;
    color: var(--text-primary);
}

#bootstrap h5+p {
    font-size: 1.1rem;
    color: var(--text-seconday);
}

#bootstrap img {
    transform: rotateY(-35deg) rotateX(15deg);
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 40px var(--shadow);
}

#bootstrap .col-md-5 div {
    width: 125%;
    perspective-origin: left center;
    perspective: 1500px;
    transform-style: preserve-3d;
}

/* Carousel */

#carousel h3 {
    font-size: 2rem;
    color: var(--text-primary);
}

#carousel p {
    color: var(--text-seconday);
    font-size: 1.2rem;
    max-width: 690px;
}

#carousel .row {
    position: relative;
    box-shadow: 0 0 30px var(--shadow);
    border-radius: 7px;
}

#carousel .row>div {
    position: relative;
    height: 400px;
    padding: 0;
    overflow: hidden;
    border-radius: 7px;
}

#carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(111.4% at 0 28%);
    position: absolute;
    transition: opacity 0.3s;
}

#carousel svg {
    width: 175px;
}

#carousel .instagram {
    color: #3F5D87;
}

.dark #carousel .instagram {
    color: #85a0c6;
}

#carousel .airbnb {
    color: #FF5A5F;
}

#carousel .quote {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
}

#carousel .quote p {
    color: var(--text-primary);
    font-size: 1.28rem;
}

#carousel h6 {
    color: var(--text-seconday);
    font-size: 0.9rem;
    font-family: 'hk_groteskmedium_legacy';
}

#carousel button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    outline: none;
}

#carousel .button-left {
    left: -25px;
}

#carousel .button-right {
    right: -25px;
}

#carousel .hidden {
    opacity: 0;
}

/* Focus */

#focus h3 {
    font-size: 2rem;
    color: var(--text-primary);
}

#focus h3 span {
    color: var(--primary);
}

#focus p {
    font-size: 1.2rem;
    color: var(--text-seconday);
    margin: 0;
    padding-bottom: 0.4rem;
}

#focus .px-4 {
    border-left: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);
}

.dark #focus .px-4 {
    border-color: var(--shadow);
}

#focus h5 {
    color: var(--text-primary);
}

#focus h5 span {
    color: var(--text-primary);
}

/* Pricing */

#pricing {
    font-size: 1.1rem;
}

#pricing h3 {
    font-size: 2.3rem;
    color: var(--text-primary);
}

#pricing p {
    color: var(--text-seconday);
}

#pricing .toggle p {
    font-size: 1.4rem;
    max-width: 690px;
}

#pricing .toggle span {
    color: var(--text-seconday);
    font-size: 1.2rem;
}

#pricing .annual-enabled-button {
    cx: 11;
}

#pricing .annual-enabled-bg {
    fill: #d9e2ef;
}

.dark #pricing .annual-enabled-bg {
    fill: #819fca;
}

#pricing .pricing-card {
    transform: scaleX(1.06);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 40px 0px var(--shadow);
}

#pricing .pricing-standard {
    transform-origin: left;
    z-index: 1;
    position: relative;
    background-color: var(--text-opposite);
}

#pricing .pricing-enterprice {
    transform-origin: right;
    height: 500px;
}

#pricing button {
    border-radius: unset;
    outline: none;
}

#pricing button:hover {
    transform: unset;
    box-shadow: unset;
    outline: none;
}

#pricing h4 {
    font-size: 2rem;
    color: var(--text-primary);
}

#pricing h4 span {
    font-size: 4rem;
    color: var(--text-primary);
}

#pricing sup {
    top: -1em;
    color: var(--text-primary);
}

#pricing .tics div {
    color: var(--text-primary);
}

#pricing .badge {
    background-color: rgba(66, 186, 150, .1);
    border-radius: 50%;
    padding: 5px 5px;
}

#pricing i {
    color: var(--success);
}

#pricing .pricing-enterprice p {
    font-size: 1.3rem;
}

/* FAQ */

#faq .badge {
    background-color: var(--success);
    border-radius: 50%;
    padding: 5px 5px;
    width: 23px;
}

#faq i {
    color: white;
}

#faq h5 {
    font-size: 1.2rem;
    color: var(--text-primary);
}

#faq p {
    color: var(--text-seconday);
}

#faq h5+p {
    font-size: 1.1rem;
}

#faq h3+p {
    font-size: 1.2rem;
    max-width: 690px;
}

#faq button {
    outline: none;
}

#faq h3 {
    font-size: 2.5rem;
    color: var(--text-primary);
}

/* Footer */

#footer {
    border-top: solid 1px rgba(134, 154, 184, 0.1);
}

#footer p {
    font-size: 1.1rem;
    color: var(--text-primary);
    font-family: 'hk_groteskmedium_legacy';
}

#footer i {
    font-size: 1.7rem;
    color: var(--text-seconday);
    cursor: pointer;
}

#footer h6 {
    color: var(--text-primary);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: 'hk_groteskmedium_legacy';
}

#footer a {
    margin-bottom: 1rem;
    color: var(--text-seconday);
    font-size: 1.1rem;
}

/* Small Sizes */

@media (min-width: 992px) {
    /* Form */
    #form .card {
        max-width: 80%;
    }
    /* Carousel */
    #carousel img {
        clip-path: circle(105.5% at 0 36%);
    }
}

@media (max-width: 1199px) {
    /* Navigation Bar */
    #navbar .dropdown-landings .my-dropdown-menu>.d-flex {
        width: 325px;
    }
    #navbar .dropdown-landings .cell {
        width: 100%;
    }
}

@media (max-width: 991px) {
    /* Navigation Bar */
    #navbar .button-primary {
        margin-left: auto;
    }
    #navbar .max {
        position: relative;
    }
    #navbar .dropdowns {
        position: absolute;
        bottom: -510px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: scroll;
        height: 500px;
        background-color: var(--text-opposite);
        width: 366px;
        box-shadow: 0 0 50px var(--shadow);
        padding-top: 1.5rem;
        right: -10px;
        animation: show-dropdowns 0.2s;
    }
    #navbar .dropdowns-hidden {
        display: none;
    }
    #navbar .my-dropdown {
        text-align: left;
    }
    #navbar .my-dropdown>a {
        height: unset;
    }
    #navbar .my-dropdown-menu {
        position: unset;
        width: unset;
        transform: unset;
        box-shadow: 0 5px 30px var(--shadow);
        padding: 1.75rem;
        display: block;
        box-shadow: unset;
    }
    #navbar .my-dropdown:hover .my-dropdown-menu {
        display: block;
        animation: unset;
    }
    #navbar .my-dropdown-menu:hover {
        display: block;
    }
    #navbar .dropdown-documentation .flex-column>div:nth-child(2) {
        border-top: unset;
        border-bottom: unset;
    }
    #navbar .dropdown-account a {
        margin-right: 2rem;
    }
    #navbar .dropdown-account a:nth-last-child(1) {
        margin-right: 0;
    }
    #navbar .dropdown-pages .my-dropdown-menu .row {
        width: 270px;
    }
    /* Header */
    #header h1 {
        font-size: 2.2rem;
    }
    /* Form */
    #form h3 {
        font-size: 1.5rem;
    }
    /* Bootstrap */
    #bootstrap h3 {
        font-size: 1.5rem;
    }
    #bootstrap .col-md-5 div {
        width: 150%;
    }
    /* Carousel */
    #carousel img {
        clip-path: ellipse(100% 100% at 0% 35%);
    }
    /* Focus */
    #focus h3 {
        font-size: 1.47rem;
    }
}

@media (max-width: 767px) {
    /* Header */
    #header img {
        max-width: 100%;
    }
    #bootstrap .col-md-5 div {
        width: 100%;
    }
    /* Carousel */
    #carousel h3 {
        font-size: 1.33rem;
    }
    #carousel img {
        clip-path: unset;
    }
    /* Pricing */
    #pricing h3 {
        font-size: 1.8rem;
    }
    #pricing .pricing-card {
        transform: unset;
    }
    #pricing .pricing-enterprice {
        height: 400px;
    }
    /* FAQ */
    #faq h3 {
        font-size: 1.49rem;
    }
}

/* Animations */

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        transform: translate(-50%, 20px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

@keyframes show-dropdowns {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fonts */

@font-face {
    font-family: 'hk_groteskregular';
    src: url('../fonts/hkgrotesk-regular-webfont.woff2') format('woff2'), url('../fonts/hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk_groteskmedium_legacy';
    src: url('../fonts/hkgrotesk-mediumlegacy-webfont.woff2') format('woff2'), url('../fonts/hkgrotesk-mediumlegacy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}