/* Global Styling */

:root {
    --primary: #335eea;
    --secondary: #eaeffd;
    --info: #d9e2ef;
    --success: #42ba96;
    --text-primary: black;
    --text-seconday: #869ab8;
    --text-opposite: white;
    --shadow: rgba(0, 0, 0, 0.1);
}

.dark {
    --primary: #335eea;
    --secondary: #eaeffd;
    --info: #d9e2ef;
    --success: #42ba96;
    --text-primary: white;
    --text-seconday: #869ab8;
    --text-opposite: #1b2a4e;
    --shadow: rgba(255, 255, 255, 0.1);
}

::selection {
    background-color: var(--primary);
    color: white;
}

* {
    font-family: 'hk_groteskregular';
    box-sizing: border-box;
    transition: color 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), background-color 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), border-color 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), fill 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), cx 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), box-shadow 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

body {
    overflow-x: hidden;
    background-color: var(--text-opposite);
}

.max {
    max-width: 1000px;
}

.button {
    border: none;
    font-size: 1.1rem;
    color: white;
    transition: all 0.2s;
    border-radius: 7px;
    font-family: 'hk_groteskmedium_legacy';
}

.button i {
    color: white;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 20px 0px var(--shadow);
}

.button-primary {
    background-color: var(--primary);
}

.button-primary:hover {
    background-color: #1746e0;
}

.button-secondary {
    background-color: var(--secondary);
    color: var(--primary);
}

.button-secondary:hover {
    background-color: #e1e7fc;
}

.button-success {
    background-color: var(--success);
}

.button-success:hover {
    background-color: #389e7f;
}

.button-info {
    background-color: var(--info);
    color: var(--text-seconday);
}

.dark .button-info {
    background-color: var(--text-seconday);
    color: var(--info);
}

/* --- WILL BE EDITED --- */

#dark {
    cursor: pointer;
}

#dark-border {
    transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.dark-enabled {
    fill: white;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* --- WILL BE EDITED --- */

/* Header */

#header h1 {
    font-size: 3rem;
    color: var(--text-primary);
}

#header img {
    max-width: 150%;
}

#header span {
    color: var(--primary);
}

#header p {
    color: var(--text-seconday);
    font-size: 1.1rem;
}

#header h1+p {
    font-size: 1.3rem;
}

#header button {
    outline: none;
}

#header svg {
    width: 48px;
    height: 48px;
}

#header h4 {
    font-size: 1.3rem;
    color: var(--text-primary);
}

/* Companies */

#companies svg {
    color: var(--text-seconday);
}

#companies {
    border-top: solid 1px rgba(134, 154, 184, 0.1);
    border-bottom: solid 1px rgba(134, 154, 184, 0.1);
}

/* Form */

#form .card {
    background-color: var(--text-opposite);
    border: none;
    box-shadow: 0 5px 30px 0px var(--shadow);
    transition: box-shadow 0.2s, transform 0.2s, background-color 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#form .card:hover {
    box-shadow: 0 5px 50px 5px var(--shadow);
    transform: translateY(-5px);
}

#form .card img {
    clip-path: ellipse(150% 100% at 50% 0%);
}

#form .card-body {
    padding: 30px;
}

#form .button {
    outline: none;
}

#form input {
    border: none;
    margin-bottom: 1.5rem;
    border-bottom: solid 1px rgba(134, 154, 184, 0.1);
    padding: 15px 0;
    outline: none;
    transition: border-bottom 0.3s, background-color 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    background-color: var(--text-opposite);
}

#form input::placeholder {
    color: var(--text-seconday);
    opacity: 1;
    font-size: 1.1rem;
}

#form input:focus {
    border-bottom: 1px solid rgba(51, 94, 234, 0.5);
}

#form h3 {
    font-size: 2rem;
    color: var(--text-primary);
}

#form h3 span {
    color: var(--success);
}

#form p {
    color: var(--text-seconday);
    font-size: 1.2rem;
}

#form .tics {
    color: var(--success);
    font-size: 1.2rem;
}

#form .tics span {
    background-color: rgba(66, 186, 150, .1);
    border-radius: 50%;
    padding: 5px 5px;
}

#form i {
    color: var(--success);
}

/* Bootstrap */

#bootstrap svg {
    width: 48px;
    height: 48px;
}

#bootstrap h3 {
    font-size: 2rem;
    color: var(--text-primary);
}

#bootstrap h3 span {
    color: var(--primary);
}

#bootstrap h3+p {
    font-size: 1.2rem;
    color: var(--text-seconday);
}

#bootstrap h5 {
    font-size: 1.2rem;
    color: var(--text-primary);
}

#bootstrap h5+p {
    font-size: 1.1rem;
    color: var(--text-seconday);
}

#bootstrap img {
    transform: rotateY(-35deg) rotateX(15deg);
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 40px var(--shadow);
}

#bootstrap .col-md-5 div {
    width: 125%;
    perspective-origin: left center;
    perspective: 1500px;
    transform-style: preserve-3d;
}

/* Focus */

#focus h3 {
    font-size: 2rem;
    color: var(--text-primary);
}

#focus h3 span {
    color: var(--primary);
}

#focus p {
    font-size: 1.2rem;
    color: var(--text-seconday);
    margin: 0;
    padding-bottom: 0.4rem;
}

#focus .px-4 {
    border-left: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);
}

.dark #focus .px-4 {
    border-color: var(--shadow);
}

#focus h5 {
    color: var(--text-primary);
}

#focus h5 span {
    color: var(--text-primary);
}

/* Pricing */

#pricing {
    font-size: 1.1rem;
}

#pricing h3 {
    font-size: 2.3rem;
    color: var(--text-primary);
}

#pricing p {
    color: var(--text-seconday);
}

#pricing .toggle p {
    font-size: 1.4rem;
    color: var(--text-seconday);
    max-width: 690px;
}

#pricing .toggle span {
    color: var(--text-seconday);
    font-size: 1.2rem;
}

#pricing .annual-enabled-button {
    cx: 11;
}

#pricing .annual-enabled-bg {
    fill: #d9e2ef;
}

.dark #pricing .annual-enabled-bg {
    fill: #575a60;
}

#pricing .pricing-card {
    transform: scaleX(1.06);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 40px 0px var(--shadow);
}

#pricing .pricing-standard {
    transform-origin: left;
    z-index: 1;
    position: relative;
    background-color: var(--text-opposite);
}

#pricing .pricing-enterprice {
    transform-origin: right;
    height: 500px;
}

#pricing button {
    border-radius: unset;
}

#pricing button:hover {
    transform: unset;
    box-shadow: unset;
}

#pricing .text-uppercase {
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 30px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-family: 'hk_groteskmedium_legacy';
}

.dark #pricing .text-uppercase {
    background-color: #1036a3;
    color: #8ba6f4;
}

#pricing h4 {
    font-size: 2rem;
    color: var(--text-primary);
}

#pricing h4 span {
    font-size: 4rem;
    color: var(--text-primary);
}

#pricing sup {
    top: -1em;
    color: var(--text-primary);
}

#pricing .tics div {
    color: var(--text-primary);
}

#pricing .badge {
    background-color: rgba(66, 186, 150, .1);
    border-radius: 50%;
    padding: 5px 5px;
}

#pricing i {
    color: var(--success);
}

#pricing .pricing-enterprice p {
    font-size: 1.3rem;
}

/* Small Sizes */

@media (min-width: 992px) {
    /* Form */
    #form .card {
        max-width: 80%;
    }
}

@media (max-width: 991px) {
    /* Header */
    #header h1 {
        font-size: 2.2rem;
    }
    /* Form */
    #form h3 {
        font-size: 1.5rem;
    }
    /* Bootstrap */
    #bootstrap h3 {
        font-size: 1.5rem;
    }
    #bootstrap .col-md-5 div {
        width: 150%;
    }
    /* Focus */
    #focus h3 {
        font-size: 1.47rem;
    }
}

@media (max-width: 767px) {
    /* Header */
    #header img {
        max-width: 100%;
    }
    #bootstrap .col-md-5 div {
        width: 100%;
    }
    /* Pricing */
    #pricing h3 {
        font-size: 1.8rem;
    }
    #pricing .pricing-card {
        transform: unset;
    }
    #pricing .pricing-enterprice {
        height: 400px;
    }
}

/* Fonts */

@font-face {
    font-family: 'hk_groteskregular';
    src: url('../fonts/hkgrotesk-regular-webfont.woff2') format('woff2'), url('../fonts/hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk_groteskmedium_legacy';
    src: url('../fonts/hkgrotesk-mediumlegacy-webfont.woff2') format('woff2'), url('../fonts/hkgrotesk-mediumlegacy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}